//
// 「身につけたこと」のスタイル
//


// トップページのみ

.skill {
    margin-top: 0;
    margin-bottom: 36.8rem;
    position: relative;

    @media #{$large} {
        margin-bottom: 51.8rem;
    }

    .job-btn {
        position: absolute;
        top: 5rem;
        left: calc(50% - 10rem);
        width: 30rem;
        height: 15rem;
        border-radius: 64% 36% 41% 59% / 39% 56% 44% 61%;
        background: $yellow;
        text-align: center;
        padding-top: 7.5rem;
        box-sizing: border-box;
        transition: all .3s;

        @media #{$large} {
            width: 46rem;
            height: 23rem;
            padding-top: 11rem;
            left: calc(50% - 6rem);
            font-size: 2rem;
        }

        &:hover {
            top: 4rem;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .study-btn {
        @extend .job-btn;
        position: absolute;
        top: 15rem;
        left: calc(50% - 20rem);
        border-radius: 28% 72% 55% 45% / 59% 56% 44% 41%;
        color: white;
        background: $navy;

        @media #{$large} {
            left: calc(50% - 40rem);
        }

        &:hover {
            top: 14rem;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        }

    }

}


// 身につけたことページのみ

#job-skill {
    margin-top: 9rem;
    position: relative;

    // 斜線
    img {
        @media #{$small} {
            display: none;
        }

        @media #{$large} {
            width: 100vw;
            position: absolute;
            top: -7.7rem;
            left: -14rem;
            transform: rotate(-10deg);
        }

    }

    h1 {
        @media #{$large} {
            text-align: end;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    @media #{$large} {
        margin-bottom: 9rem;
    }

    //sp表示
    // 垂直な線
    &::before {
        content: "";
        position: absolute;
        top: 38px;
        left: 28px;
        width: 2px;
        height: calc(100% - 37px + 130px + 30px);
        background: $brown;

        @media #{$large} {
            display: none;
        }
    }

    // 黄色の楕円形
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 25.5rem;
        height: 14.1rem;
        border-radius: 44% 56% 67% 33% / 56% 63% 37% 44%;
        background: $yellow;
        z-index: -1;

        @media #{$large} {
            top: -10rem;
            left: calc(100% - 35rem);
            width: 50rem;
            height: 25rem;
        }

    }

    .job-skill-container {
        margin-left: 18%;

        @media #{$large} {
            margin-left: 0;
            display: flex;
            justify-content: space-between;
            padding-left: 19rem;
            height: 40vh;
        }
    }

}

#study-skill {
    margin-top: 9rem;
    position: relative;

    @media #{$large} {
        margin-bottom: 20rem;
        margin-top: -10rem;
    }

    // 垂直な線
    &::before {
        content: "";
        position: absolute;
        top: 39px;
        right: 28px;
        width: 2px;
        height: calc(100% - 40px + 130px - 42px);
        background: $white;
        mix-blend-mode: difference;

        @media #{$large} {
            display: none;
        }
    }

    // 水平な線
    &::after {
        content: "";
        position: absolute;
        top: 37px;
        right: 28px;
        width: calc(100% - 56px);
        height: 2px;
        background: $white;
        mix-blend-mode: difference;

        @media #{$large} {
            display: none;
        }
    }

    // 紺色の楕円形
    span {
        position: absolute;
        top: -7.8rem;
        left: 0;
        z-index: -1;
        width: 25.5rem;
        height: 14.1rem;
        border-radius: 36% 64% 35% 65% / 30% 49% 51% 70%;
        background: $navy;
        margin-left: calc(100% - 25.5rem);

        @media #{$large} {
            top: 21rem;
            left: -17rem;
            width: 50rem;
            height: 25rem;
            margin-left: 0;
        }
    }

    h1 {
        color: $white;
        mix-blend-mode: difference;
        font-weight: 300;
        text-align: end;

        @media #{$large} {
            text-align: left;
            position: absolute;
            bottom: -4rem;
        }
    }

    .study-skill-container {
        margin-right: 18%;

        @media #{$large} {
            margin-right: 19rem;
            display: flex;
            height: 40vh;
            justify-content: space-between;
        }

    }

}

.studying-skill {
    margin-top: 9rem;
    position: relative;

    @media #{$large} {
        margin: 0;
        padding: 0 14rem 0;
       /* background-image: url(../images/skill/dashed_line.svg);
        background-repeat: no-repeat;*/
    }

    img {
        @media #{$small} {
            display: none;
        }

        //斜めの破線
        @media #{$large} {
            position: absolute;
            top: -8%;
            left: -30%;
        }
    }

    // 垂直な破線
    &::before {
        content: "";
        position: absolute;
        top: -36px;
        left: 47%;
        width: 2px;
        height: calc(100% + 36px + 130px);
        border-left: 2px dashed $brown;

        @media #{$large} {
            display: none;
        }
    }

    // 水平な線
    &::after {
        content: "";
        position: absolute;
        top: -39px;
        left: 47%;
        width: calc(100% - 28px - 47%);
        height: 2px;
        background: $brown;

        @media #{$large} {
            display: none;
        }
    }

    // 黄色の楕円形
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 25.5rem;
        height: 14.1rem;
        border-radius: 44% 56% 67% 33% / 56% 63% 37% 44%;
        background: $yellow;
        z-index: -1;

        @media #{$large} {
            top: -5rem;
            left: calc(100% - 47rem);
            width: 50rem;
            height: 25rem;
        }

    }

    h1 {
        width: 47%;

        @media #{$large} {
            width: 100%;
            text-align: end;
            margin-bottom: 0;
        }
    }

    .studying-skill-container {
        margin-left: calc(47% - 9rem);

        @media #{$large} {
            margin-left: 0;
            display: flex;
            justify-content: space-between;
            padding-left: 19rem;
            height: 40vh;
        }

    }

}


// skill-boxすべてに共通するスタイル

.skill-box {
    display: flex;
    margin-bottom: 4rem;

    h2 {
        width: 10.4rem;
    }

    p {
        width: 60%;
    }

    @media #{$large} {
        margin-bottom: 0;
        /*padding-bottom: 5rem;*/
        flex-direction: column;
        width: 29%;

        /* &.first {
            margin-left: 22rem;
        } */

        &.middle {
            /*margin-left: 57rem;*/
            align-self: center;
        }

        &.last {
            /*margin-left: 88rem;*/
            align-self: end;
        }

        h2 {
            width: 22rem;
            margin: 0 0 2rem;
        }

        p {
            width: 100%;
        }

    }
}
